*.secret
secrets/
.idea/
*.iml
*.iws
*.swp
target/*

*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.tmp
*.temp
run/data
/.classpath
/.project
/AGENTS.md
/CLAUDE.md
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
